<h1>Moje złote myśli</h1>
<dl class="outer">
  <dl *ngFor="let message of messages; let i = index" class="inner">
    <ul class="background">
      <label>{{getDate(i)}}</label>
      <br/>
      <label class="message">{{message}}</label>
      <button (click)="removeThought(i)" class="usun">-</button>
      <br/>
      <label class="author">{{authors[i]}}</label>
    </ul>
  </dl>
</dl>
<input type="message" [value]="message" (input)="message = $event.target.value" (keyup.enter)="addThought()">
<input type="author" [value]="author" (input)="author = $event.target.value" (keyup.enter)="addThought()">
<button (click)="addThought()" class="dodaj">+</button>