/* You can add global styles to this file, and also import other style files */

body {
  text-align: center;
  width: inherit;
  background-image: url("background.jpg");
  background-repeat: repeat;
  background-color: #000000;
}
dl.outer{
  text-align: center;
  display: list-item;
  justify-content: center;
}
dl.inner{
  display: inline;
  justify-content: center;
  text-align: center;
}
ul.background{
  backface-visibility: visible;
  
}
button.usun{
  width: fit-content;
  background-color: firebrick;
  color: white;
}
button.dodaj{
  width: fit-content;
  background-color: darkgreen;
  color: white;
}
h1 {
  text-align: center;
  width: inherit;
  color: #FFAA00;
}
p {
  color: red;
}
label.message{
  color: rgb(35, 72, 236);
}
label.author{
  color: rgb(146, 16, 206);
}
input{
  width: 300px;
}